/* ===================================================== FOOTER =================================================================== */
.board-black{
    width: 100%;
    background-color: black;
    color:white;
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.board-black-title {
    line-height: 35px !important;   
}
.board-black div {
    width: 60%;
    margin: 20px 50px;
    line-height: 25px;
}
.board-yellow{
    background-color: yellow;
    width: 100%;
    height: 150px;
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.board-yellow-title{
    font-size: 20px;
    font-weight: 700;
}
.board-yellow-button button{
    margin-left: 30px;
    padding: 30px 20px ;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 300px;
    background-color: black;
    color: white;
    font-size: medium;
    transition: color .5s , box-shadow .5s;
    position: relative;
}
.board-yellow-button-i{
    transition: left 1s;
}
.board-yellow-button button:hover .board-yellow-button-i{
    left : 90%
}
.board-yellow-button button:hover{
    cursor: pointer;
    color:wheat;
    box-shadow: 10px 10px 0px rgb(0 ,0, 0);
}
.board-yellow-button  button i {
    position: absolute;
    left : 60%
}
.footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color : #fff;
    padding: 100px 0 30px ;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;  
    font-family: "poppins", sans-serif; 
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo {
    width: 80px; 
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
    color : #fff
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .bi-envelope{
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background: transparent;
    color : #ccc;
    border: 0;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button  .bi-arrow-right{
    font-size: 16px;
    color : #ccc;
}

.social-icons .bi{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color : transparent;
    margin-right: 15px;
    cursor: pointer;

}

hr {
    width: 90%;
    border:0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius:3px ;
    position: absolute;
    top : 25px;
    left : 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top : 0;
    left : 10px;
    animation:  moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left : -20px;
    }   
    100%{
        left : 100%
    }
}




       
@media screen and (max-width:750px) {
    .board-black div{
        width:70% ;
        
    }
    .board-yellow{
        text-align: center;
        height: 300px;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .board-yellow-title{
        font-size: 30px;
        font-weight: 700;
    }
    .board-yellow-button{
        margin: 50px 0;
    }
}
@media screen and (max-width : 700px) {
    footer {
        bottom: unset;
    }
        
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%
    }
}